.btnn{
    padding:15px 40px;
    border:none;
    outline: none;
    color:#FFF;
    cursor: pointer;
    position:relative;
    z-index:0;
    border-radius:12px;
    background-color: #FFF;
    
}
.btnn::after {
content:"";
z-index:-1;
position:absolute;
width:100%;
height: 100%;
background-color: #333;
left: 0;
top: 0;
border-radius: 10px;
}
.btnn::before {
    content: "";
    background: linear-gradient(45deg,
    #FF0000, #FF7300, #FFB000, #48FF00,
    #00FFD5, #0028FF, #FF00CB, #FF0000
    ) ;
    position: absolute;
    top:-6px;
    left: -6px;
    bottom: -6px;
    z-index:-1;
    background-size: 600%;
    width: calc(100% + 8px);
    height: calc(100% + 6px);
    filter: blur(4px);
    animation: glowing 40s linear infinite;
    transition: opacity .4s ease-in-out;
    border-radius: 10px;
    opacity: 1;
}

@keyframes glowing {
    0% {background-position: 0 0;}
    50% {background-position: 400% 0;}
   100% {background-position: 0 0;}
}

.btnn:hover::before {
    opacity: 1;
}
.btnn:active::after{
    background: transparent;
}
.btnn:active{
    color :#000;
    font-weight: bold;
}